<!--The content below is only a placeholder and can be replaced.-->
<style>
.buttonInserir{ background-color: #4CAF50; }
.buttonAtualizar{ background-color: #008CBA; }
.buttonApagar{ background-color: #f44336; }
.buttonLimpar{ background-color: #e7f436; }

</style>
<h2>Lista de Usuarios </h2>
Nome <input type="text" [(ngModel)]="selectedUsuario.nome"/><br>
E-mail <input type="text" [(ngModel)]="selectedUsuario.email"/><br>
Data Cadastro <input type="text" [(ngModel)]="selectedUsuario.dataCadastro"/><br>
Ativo <input type="checkbox" [(ngModel)]="selectedUsuario.ativo"/><br>
<button *ngIf='selectedUsuario.id != -1'(click)="updateUsuario()" class="button buttonAtualizar" >Atualizar</button>
<button *ngIf='selectedUsuario.id == -1'(click)="createUsuario()" class="button buttonInserir" > Inserir</button>
<button *ngIf='selectedUsuario.id != -1'(click)="deleteUsuario()" class="button buttonApagar" >Apagar</button>
<button *ngIf='selectedUsuario.id != -1'(click)="limparUsuario()" class="button buttonLimpar" >Limpar</button>
<hr>
<ul>
  <li *ngFor="let usuario of usuarios">
    <h2 (click)="usuarioClicked(usuario)">{{usuario.nome}}</h2>
  </li>
</ul>



